body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #eef2f3;
    color: #333;
}

header {
    background: #e74d06;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #333;
    transform: scale(1.2);
}

section {
    padding: 40px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #e74d06;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.projeto {
    margin-bottom: 20px;
    padding: 15px;
    border-left: 4px solid #e74d06;
    background: #f9f9f9;
}

.projeto h3 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 15px 0;
    background: #e74d06;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: #e74d06;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex; /* Exibir menu no celular */
        flex-direction: column;
        cursor: pointer;
    }

    nav {
        display: none; /* Ocultar menu em celular */
        flex-direction: column;
        width: 100%;
        background: #e74d06;
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav.active {
        display: flex; /* Exibir menu quando ativo */
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.5em;
    }
}

.skills_section {
    padding: 40px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills_head {
    text-align: center;
}

.skills_head h2 {
    color: #e74d06;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.skills_head p {
    color: #666;
}

.skills_main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill_bar {
    margin-bottom: 15px;
    width: calc(50% - 10px);
}

.skill_bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill_bar .bar {
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span {
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}

/* Animações para cada habilidade */
.skill_bar .bar .html { width: 80%; animation: html 2s; }
.skill_bar .bar .css { width: 80%; animation: css 2s; }
.skill_bar .bar .js { width: 80%; animation: js 2s; }
.skill_bar .bar .python { width: 60%; animation: python 2s; }
.skill_bar .bar .react { width: 80%; animation: react 2s; }
.skill_bar .bar .node { width: 70%; animation: node 2s; }
.skill_bar .bar .express { width: 70%; animation: express 2s; }
.skill_bar .bar .bootstrap { width: 70%; animation: bootstrap 2s; }
.skill_bar .bar .jquery { width: 70%; animation: jquery 2s; }
.skill_bar .bar .sql { width: 60%; animation: sql 2s; }
.skill_bar .bar .flutter { width: 60%; animation: flutter 2s; }
.skill_bar .bar .dart { width: 60%; animation: dart 2s; }

/* Keyframes para animações */
@keyframes html { 0% { width: 0%; } 100% { width: 80%; } }
@keyframes css { 0% { width: 0%; } 100% { width: 80%; } }
@keyframes js { 0% { width: 0%; } 100% { width: 80%; } }
@keyframes python { 0% { width: 0%; } 100% { width: 60%; } }
@keyframes react { 0% { width: 0%; } 100% { width: 80%; } }
@keyframes node { 0% { width: 0%; } 100% { width: 70%; } }
@keyframes express { 0% { width: 0%; } 100% { width: 70%; } }
@keyframes bootstrap { 0% { width: 0%; } 100% { width: 70%; } }
@keyframes jquery { 0% { width: 0%; } 100% { width: 70%; } }
@keyframes sql { 0% { width: 0%; } 100% { width: 60%; } }
@keyframes flutter { 0% { width: 0%; } 100% { width: 60%; } }
@keyframes dart { 0% { width: 0%; } 100% { width: 60%; } }

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projeto-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: calc(30% - 30px);
    text-align: center;
}

.projeto-imagem {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.projeto-card h3 {
    color: #e74d06;
    margin: 15px 0 10px;
}

.projeto-card p {
    color: #666;
}

.botao-projeto {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #e74d06;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.botao-projeto:hover {
    background-color: #333;
    transform: scale(1.2);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    margin-top: 10px;
}

.social-icon {
    margin: 0 10px;
    color: #fff;
    font-size: 25px;
    transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
    color: #333;
    transform: scale(1.2);
}

.email-link {
    color: #333; /* Cor padrão do texto */
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.email-link:hover {
    color: #e74d06; /* Mudança de cor ao passar o mouse */
    transform: scale(1.2); /* Efeito de aumento */
}
